!
hostname {{ hostname }}
!
clock timezone {{ timezone }}
!
ntp server {{ ntp_server }}
!
{% for user in users %}
!
username {{ user.name }} password {{ user.password }} privilege {{ user.priv }}
!
{% endfor %}